@charset "UTF-8";

/* メモCSS開始 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  box-sizing: border-box;
  outline: none;
}
 
.body {
  background-color: #7bdaf3;
  font-family: 'Poppins', sans-serif;
  
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding-top: 3rem;
}

 
.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #62c8ba;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
 
.add:active {
  transform: scale(0.98);
}
 /* メモの大きさ */
.note {
  background-color: #fff;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
  overflow-y: scroll;
}
 
.note .tools {
  background-color: #62c8ba;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}
 
.note .tools button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}
 
.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 1000px;
  width: 100%;
  padding: 20px;
}
 
.main {
  padding: 20px;
}
 
.hidden {
  display: none;
}
/* メモCSS終了 */

/* すべてのwebページに適用される */
html {
	font-family: sans-serif;
}
body {
	background-color: #223558;
	color:aliceblue;
  text-align: center;
}

.wrapper{
  margin: 0 auto 0 auto;
  max-width: 960px;
}

h2 {color: #000000;
}
a:link {
    color:aliceblue;
}
a:visited {
    color:aliceblue;
}
a:hover {
    color:rgb(151, 151, 151);
}
a:active {
    color:rgb(95, 95, 95);
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

hr {
  border-top: 1px solid #ccc;
  height: 1em;
  text-align: center;
  overflow: visible;
}
hr::after {
  content: "TODOリスト";
  background: #223558;
  color: #ccc;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  top: -1em;
  padding: 0 1em;
}
/* すべてのページに適用- ヘッダー - */
.logo {
	margin:30px 0 30px 0;
	line-height: 0;
	text-align: center;
}
nav {
	margin: 0 0 0 0;
	padding: 20px 10px 15px 20px;
	background-image: url(./images/obi1.png);
	background-repeat: repeat-x;
  }